@import url('https://fonts.googleapis.com/css2?family=Lemonada:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lemonada', cursive;
}

::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-track {
    background: aliceblue;
}

::-webkit-scrollbar-thumb {
    background: #56AB91;
}

::-webkit-scrollbar-thumb:hover {
    background: #036666;
}

html {
    scroll-behavior: smooth;
}

.fast-btn1 {
    width: 7%;
    position: fixed;
    top: 10%;
    left: 0;
    z-index: 99;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    border: none;
    background-color: #31947B;
    color: aliceblue;
    cursor: pointer;
    transition: 0.5s;
}

.fast-btn1:hover {
    background-color: aliceblue;
    color: #31947B;
}

main {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.sect-1 {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.4s;
}

.sect-1 img {
    z-index: -1;
}

.sect-1 hgroup {
    width: 95%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 5%;

}

.sect-1 h1 {
    width: 20%;
    height: 30%;
    font-size: 5rem;
    background-image: linear-gradient(90deg, #22577A, #80ED99);
    -webkit-background-clip: text;
    color: transparent;
}

.sect-1 p {
    font-size: 2.95rem;
    width: 100%;
    background-image: linear-gradient(90deg, #22577A, #80ED99);
    -webkit-background-clip: text;
    color: transparent;
}

.sect-1 a {
    transition: 0.4s;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    height: 10%;
    background-color: #80ED99;
    border: none;
    border-radius: 100px;
    cursor: pointer;
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
}

.sect-1 a:hover {
    background-color: #036666;
    transform: translate(0, -5px);
    color: aliceblue;
}

.img-div1 {
    width: 35%;
    height: 70%;
    background-color: #14746F;
    border-radius: 100px;
    background-image: url(../content/imges/img1.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 100px;
    opacity: 99%;
}

.sect-2 {
    width: 100%;
    height: 70vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10%;
    background-color: #004b23;
}

.sect-2 div {
    width: 40%;
    height: 80%;
    background-color: #56AB91;
    border-radius: 30px;
    display: flex;
    flex-direction: column-reverse;
    align-items: end;
    color: aliceblue;
    border-left: #248277 30px solid;
    overflow: hidden;
}

.sect-2 div hgroup {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: space-around;
    text-align: right;
    padding: 20px;
    width: 100%;
    height: 100%;
}

.sect-2 div h3 {
    width: 90%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: end;
    text-align: right;
    font-size: 2.5rem;
    padding: 20px;
}

.sect-2 div hgroup p {
    font-size: 1.5rem;
}

.sect-2 div hgroup button {
    width: 40%;
    height: 15%;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    color: aliceblue;
    background-color: #036666;
    transition: 0.4s;
    font-size: 1.2rem;
}

.sect-2 div hgroup button:hover {
    background-color: aliceblue;
    transform: translate(0, -3px);
    color: #036666;
}

/* ------------------------------------------ */
.sect-3 {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    gap: 6%;
}

.sect-3 .img-sect3 {
    width: 35%;
    height: 70%;
    background-image: url(./imges/img2.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 30px;
}

.sect-3>hgroup {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    width: 50%;
    height: 50%;
    gap: 10%;
    background-image: linear-gradient(90deg, #22577A, #14746F, #80ED99);
    -webkit-background-clip: text;
    color: transparent;
}

.sect-3 hgroup h2 {
    font-size: 4rem;
}

.sect-3 hgroup p {
    font-size: 2rem;
    width: 100%;
}

/* -------------------------------------------------------------------------- */
.sect-1-edit1 {
    width: 55%;
    height: 100vh;
    background-image: url(/content/imges/img1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.sect-2-edit1 {
    width: 45%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form1 {
    width: 70%;
    height: 60vh;
    background-color: #004b23;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 20px;
    color: aliceblue;
    transition: 0.3s;
}

.form1:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.container_input {
    height: 20%;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: end;
    position: relative;
    margin-bottom: 40%;
}

div .input1 {
    text-align: right;
    border: none;
    background-color: #ffffff00;
    color: aliceblue;
    width: 100%;
    height: 60%;
    transition: 0.3s;
    position: relative;
    border-bottom: #80ED99 3px solid;
}

.input1:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

}

div .input1::placeholder {
    color: aliceblue;
    text-align: right;

}

div input:focus {
    outline: none !important;
    border-bottom: #004b23 2px solid;
}

label {
    /* position: absolute; */
    /* margin-bottom: 100px; */
    width: auto;
}

div input::placeholder {
    text-align: center;
    font-size: 1.1rem;
}

form button {
    width: 80%;
    height: 12%;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    font-size: 1.4rem;
    background-color: #78C6A3;
    transition: 0.5s;
}

form button:hover {
    background: #036666;
    transform: translate(0, -5px);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    color: aliceblue;
}

.container_img {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    height: 10%;
    background-color: #78C6A3;
    border-radius: 20px;
}

.container_img img {
    height: 80%;
    cursor: pointer;
}

.container_img img:hover {}

/* ------------------------------------------------- */
.tow_Element {
    bottom: 40%;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 25%;
    height: 20%;
    position: absolute;
}

.tow_Element_rel {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;
    height: 30%;
    margin: 20px 0 0 0 ;
}

.tow_Element input,
.input1,
.tow_Element_rel input {
    border: none;
    transition: 0.5s;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background: none;
    color: aliceblue;
    text-align: right;
    border-bottom: #80ED99 1px solid;
}

.tow_Element input::placeholder,
.tow_Element_rel input::placeholder {
    text-align: right;
    color: aliceblue;
}

.tow_Element input:hover,
.tow_Element_rel input:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border-bottom: #80ED99 1px solid;
}

.input1_card {
    width: 100%;
    height: 30%;
}

.input1_123 {
    width: 25%;
    height: 100%;
}

.input1_history {
    width: 65%;
    height: 100%;
}

.sheckBox1 {}

.label_check {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 20px;
    width: 100%;
}

/* ------------------------------------------------------------------------- */
.sect_1_Products1 {
    width: 100%;
    height: 20vh;
    background-color: #14746F;
    align-items: end;
    justify-content: end;
    gap: 3%;
}

.sect_1_Products1 i {
    font-size: 25px;
    position: relative;
    color: white;
    bottom: 9.5%;
    right: 2.6%;
    border-radius: 100px;
    padding: 10px;
    border: aliceblue 3px solid;
    cursor: pointer;
    transition: 0.5s;
}
.sect_1_Products1 i:hover{
    color: #004b23;
    border: #004b23 3px solid;

}
.sect_2_Products1 {
    width: 100%;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5%;
}

.cards_Products1 {
    display: flex;
    flex-direction: column;
    width: 20%;
    height: 55vh;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    border: #004b23 1px solid;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.cards_Products1 div {
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    height:60%;
    width: 100%;
    gap: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: aliceblue;
    background-color: #004b23;
}
.cards_Products1 h2 {
}
.cards_Products1 p {
}
.cards_Products1 p::after{
    content: '50$';
    color: #80ED99;
    font-size: 0.8rem;
    text-decoration:line-through;
    padding: 0 0px 0 6px ;
}

.cards_Products1 button {
    height: 6vh;
    width: 90%;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    transition: 0.5s;
    background-color: #80ED99;
}
.cards_Products1 button:hover {
    background: #14746F;
    color: aliceblue;
    transform: translate(0,-10px);
}
.cards_Products1 img {
    height: 40%;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
}
/* -------------------------------------------------------------------------------------- */
.sect_1_our{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;

}
.sect_1_our img{
    width: 45%;
    animation: moveing 4s infinite;
}
.hgroup5{
    width: 45%;
    text-align: right;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.hgroup5 h2{
font-size: 5rem;
background-image: linear-gradient(90deg, #22577A, #80ED99);
-webkit-background-clip: text;
color: transparent;
}
.hgroup5 p{
width: 75%;
font-size: 1.29rem;
background-image: linear-gradient(90deg, #22577A, #80ED99);
-webkit-background-clip: text;
color: transparent;
}
/* ----------------------------------------------------------------- */
.sect_1_statistics{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 110vh;
}
.sect_1_statistics img{

animation: moveing 4s infinite;
}
@keyframes moveing {
    0%{transform: translate(0,0);}
    50%{transform: translate(0,-5px);}
    100%{transform: translate(0,);}
    
}
.sect_1_statistics hgroup{
    width: 45%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5%;
    background-image: linear-gradient(90deg, #22577A, #80ED99);
    -webkit-background-clip: text;
    color: transparent;
}
.sect_1_statistics hgroup{
    width: 45%;
    text-align: right;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.sect_1_statistics hgroup h2{
font-size: 4rem;
}
.sect_1_statistics hgroup p{
width: 70%;
font-size: 1.2rem;
}
.sect_1_statistics hgroup button{
    height: 7vh;
    width: 20%;
    border-radius: 30px;
    font-size: 1.2rem;
    border: none;
    cursor: pointer;
    transition: 0.5s;
    background-color: #80ED99;
}
.sect_1_statistics hgroup button:hover {
    background: #14746F;
    color: aliceblue;
    transform: translate(0,-10px);
}
/* ---------------------------------------------------------*/
.sect_1_accont{
    width: 60%;
    height: 100vh;
    background: url(../content/imges/login.svg) no-repeat center;
}
.sect_2_accont{
width: 40%;
height: 100vh;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}
.tap1{
    width: 70%;
    height: 6%;
    background-color: #036666;
    display: flex;
    align-items: end;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.tap1 button{
width: 50%;
height: 100%;
cursor: pointer;
color: aliceblue;
border-bottom: #78C6A3 1px solid;
}
.btn_tap1{
    border-top-left-radius: 20px;
    border:none;
    border-top: #78C6A3 5px solid;
    background-color: #004b23;
}
.btn_tap2{
    border-top-right-radius: 20px;
    border:none;
    border-top: #78c6a3 5px solid;
    background-color: #004b2353;
}
.sect_2_accont form{
display: flex;
width: 70%;
height: 60vh;
flex-direction: column;
justify-content: center;
align-items: center;
background-color: #036666;
gap: 10%;
transition: 0.5s;
border-bottom-left-radius: 20px;
border-bottom-right-radius: 20px;
}
.btn7{
    width: 50%;
    color: aliceblue;
    background-color: #004b23;
}
.btn7:hover{
background-color: aliceblue;
color: #222;
}
.sect_2_accont form h2{
color: aliceblue;
}
.sect_2_accont form input{
width: 50%;
height: 10%;
text-align: right;
background: none;
border: none;
border-bottom: #004b23 2px solid;
transition: 0.5s;
color: aliceblue;
}
.sect_2_accont form input:hover{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.sect_2_accont form input:focus{
outline: none;
}
.sect_2_accont form input::placeholder{
text-align: right;
padding:  0 5px 0 0;
color: 
aliceblue;
}
/* ------------------------------------------------------------------ */
.sect_1_more{
    width: 100%;
    height: 200vh;
    gap: 10vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background: url(../content/imges/pp.png) center;
    background-size: cover;
    flex-direction: row;
    background-color: #004B23;
}
.sect_1_more hgroup{
    width: 30%;
    height: 25%;
    text-align: right;
    margin: 0 100px 0 0;
    backdrop-filter: blur(2px);
}
.sect_1_more hgroup h2{
    filter: invert(100%);
}
.sect_1_more hgroup p{
    filter: invert(100%);

}